.journal-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 40px;
    width: 50%;
}

.tableAndGraph {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 40px;
}

.tradeForm {
    margin-bottom: 40px;
}

.filterAndStats {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 0 40px 0;
    width: 50%;
}

.stat-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--border);
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid var(--border);
    text-align: center;
}

th {
    background: #f3f4f6;
}

canvas {
    margin-top: 20px;
}

#clearFiltersBtn {
    cursor: pointer;
}


@media (max-width: 768px) {
    .filterAndStats {
        flex-direction: column;
    }

    .journal-card {
        width: 100%;
    }

    .stats-grid {
        width: 100%;
    }
}